body {
  font-family: 'Poppins', sans-serif;
}

nav {
  background-color: black;
  color: white;
  padding: 16px;
}

nav a {
  margin: 8px
}

nav a:visited {
  color: azure;
}

nav button {
  font-family: 'Poppins', sans-serif;
  color: white;
  background-color: hotpink;
  padding: 6px;
  border: 3px solid white
}

.active {
  font-weight: bold;
}

.message {
  background-color: lightblue;
}