:root {
  --padding--small: 8px;
  --padding: 16px;
  --color--grey: #ccc;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

nav {
  background-color: black;
  color: white;
  padding: var(--padding);
}

nav a {
  margin: var(--padding--small);
}

nav a:visited {
  color: azure;
}

nav button {
  font-family: 'Poppins', sans-serif;
  color: white;
  background-color: hotpink;
  padding: var(--padding--small);
  border: 3px solid white
}

.active {
  font-weight: bold;
}

.message {
  background-color: lightblue;
}

.page-full-height {
  /* full page height - the nav bar height */
  height: calc(100vh - 56px - 2 * var(--padding));
  display: flex;
  flex-direction: column;
  margin: var(--padding);
}