.avenger-info {
    display: flex;
    flex-direction: column;
    padding: var(--padding);
    background-color: #fafafa;
    box-shadow: var(--color--grey) 4px 3px 10px 0px;
    border-radius: 0.25rem;
    margin: var(--padding);
    max-width: 20rem;
}

.avenger-info .name {
    display: block;
    font-size: large;
    text-transform: capitalize;
    margin-bottom: var(--padding);
}

.avenger-info .info {
    padding: var(--padding--small) 0px;

}

.avenger-info .button-like {
    width: 5rem;
    border: 3px solid white;
    background-color: hotpink;
    color: white;
    text-decoration: none;
    padding: var(--padding--small);
}